@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');
body {
    font-family: 'Inter', sans-serif;
    transition: 0.5s;
}
/******RESPONSIVE*************/
.container {
    width: 375px;
    margin: 0 auto;
}
.logoSection img {
    margin-left: -20px;
    width: 100px;
}
header {
    display: flex;
    padding: 5px 9px;
    align-items: center;
    justify-content: space-between;
}
/******DARKMODE******/

.menuWeb {display: none;}
/****HAMBURGER*****/
.hamburger {
    position: relative;
  }
  .bar {
    display: block;
    width: 20px;
    height: 5px;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  .hamburger .bar:nth-child(3) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(3) {
    opacity: 1;
    transform: translateY(-11px) rotate(-45deg);
  }
  .modal {
    display: none;
    position: fixed;
    width: 50%;
  }
  .hamburger.active + .modal.active {
    display: block;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
  } 
  .modal.active {
    background-color: rgba(0, 0, 0, 0.65);
    margin: 0 auto;
  }
  .modalTop {
    display: flex;
    align-items: center;
    padding: 28px 24px;
    justify-content: center;
    ul li {
        list-style: none;
    }
    ul li a{
        text-decoration: none;
        font-size: 14px;
        font-weight: 300;
        line-height: normal; 
        color: #fff;
    }
  }
  /**********ABOUT*************/
  #about {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 5px 9px;
  }
  .aboutTop {
    h6 {
        font-size: 13px;
        font-weight: 300;
        line-height: normal; 
    }
  }
  .aboutMid {
    background: linear-gradient(90deg, #9845E8 -1.72%, #33D2FF 54.05%, #DD5789 99.78%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    h4 {
        font-size: 46px;
        font-weight: 500;
        line-height: normal; 
    }
}
.aboutBot {
    h5 {
        font-size: 14px;
        font-weight: 300;
        line-height: 24px; /* 133.333% */   
    }
}
.stick {
    margin-top: 50px;
    width: 100%;
    height: 2px;
    background-color: #C6C6C6;
}
/**********************************************/
/**********TABLE EXPERIENCE*****************/
#experience table {

    border-collapse: collapse;

    width: 100%;

  }


  #experience th,

  #experience td {

    border: 1px solid #ddd;

    padding: 8px;

  }


  #experience tr:nth-child(even) {

    background-color: #f2f2f2;

  }


  #experience th {

    padding-top: 12px;

    padding-bottom: 12px;

    text-align: left;

    background-color: #4CAF50;

    color: black;

  }