@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');
 body {
	 font-family: 'Inter', sans-serif;
	 transition: 0.5s;
	 cursor: url(/assets/cursor/default.svg), auto;
}
 html {
	 scroll-behavior: smooth;
}
 .container {
	 width: 375px;
	 margin: 0 auto;
}
 .logoSection img {
	 margin-left: -20px;
	 width: 100px;
}
 header {
	 position: sticky;
	 top: 0;
}
 .scroll {
	 background-color: #f0f0f0;
	 opacity: 0.8;
	 box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
	 height: 60px;
}
 .innerHeader {
	 display: flex;
	 padding: 5px 9px;
	 align-items: center;
	 justify-content: space-between;
}
/******DARKMODE******/
 body.dark-mode {
	 cursor: url(/assets/cursor/darkmode-default.svg), auto;
	 background-color: #111;
}
 body.dark-mode .logoSection img {
	 content: url(/assets/images/logo-dark.svg);
}
 body.dark-mode .scroll {
	 background-color: #111;
	 opacity: 0.8;
	 box-shadow: 0px 2px 4px #f0f0f0;
	 opacity: 0.8;
}
 body.dark-mode .bar {
	 background-color: #fff;
}
 body.dark-mode .modalBot .darkModeBtn {
	 display: none;
}
 body.dark-mode .modalBot .lightModeBtn {
	 display: block;
	 background-color: white;
	 padding: 8px 8px;
}
 body.dark-mode .modal.active {
	 background-color: rgba(255, 255, 255, 1);
}
 body.dark-mode .modalTop ul li a {
	 color: #1a1a1a;
}
 body.dark-mode .aboutTop h6 {
	 color: #fff;
}
 body.dark-mode .aboutBot h5 {
	 color: #f0f0f0;
}
 body.dark-mode #experience p {
	 color: #fff;
}
 body.dark-mode .title {
	 border-radius: 4px;
}
 body.dark-mode .title h6 {
	 color: #f0f0f0;
}
 body.dark-mode .selected {
	 background-color: #fff;
}
 body.dark-mode .selected h6 {
	 color: #1f1e1e;
}
 body.dark-mode .detailsHistory h3 {
	 color: #fff;
}
 body.dark-mode .detailsHistory h2 {
	 color: #c4c4c4;
}
 body.dark-mode .expDetails h5 {
	 color: #c4c4c4;
}
 body.dark-mode .projectTitle h4 {
	 color: #fff;
}
 body.dark-mode .textTop h4 {
	 color: #fff;
}
 body.dark-mode .textMid h5 {
	 color: #c4c4c4;
}
 body.dark-mode .githubLogo img {
	 content: url(/assets/images/github-darkmode.svg);
}
 body.dark-mode .directionLink img {
	 content: url(/assets/images/link-darkmode.svg);
}
 body.dark-mode #contact h4 {
	 color: #fff;
}
 body.dark-mode .mailBtn img {
	 content: url(/assets/images/mail-dark.svg);
}
 body.dark-mode .linkedInBtn img {
	 content: url(/assets/images/linkedin-dark.svg);
}
 body.dark-mode .upworkBtn img {
	 content: url(/assets/images/upwork-dark.svg);
}
 body.dark-mode .githubBtn img {
	 content: url(/assets/images/github-dark.svg);
}
 body.dark-mode .contactLinks a {
	 color: #c4c4c4;
}
 .menuWeb {
	 display: none;
}
/****HAMBURGER*****/
 .hamburger {
	 position: relative;
}
 .bar {
	 display: block;
	 width: 20px;
	 height: 5px;
	 margin: 5px;
	 -webkit-transition: all 0.3s ease-in-out;
	 transition: all 0.3s ease-in-out;
	 background-color: black;
}
 .hamburger.active .bar:nth-child(2) {
	 opacity: 0;
}
 .hamburger.active .bar:nth-child(1) {
	 transform: translateY(9px) rotate(45deg);
}
 .hamburger .bar:nth-child(3) {
	 opacity: 0;
}
 .hamburger.active .bar:nth-child(3) {
	 opacity: 1;
	 transform: translateY(-11px) rotate(-45deg);
}
 .modal {
	 display: none;
	 position: fixed;
	 width: 50%;
}
 .hamburger.active + .modal.active {
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: center;
	 z-index: 999;
	 top: 0;
	 left: 0;
	 width: 100%;
}
 .modal.active {
	 background-color: rgba(0, 0, 0, 0.85);
	 margin: 0 auto;
}
 .modalTop {
	 display: flex;
	 align-items: center;
	 padding: 28px 24px;
	 justify-content: center;
}
 .modalTop ul li {
	 list-style: none;
}
 .modalTop ul li a {
	 text-decoration: none;
	 font-size: 14px;
	 font-weight: 300;
	 line-height: normal;
	 color: #fff;
}
 .modalBot {
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 padding: 8px 2px;
}
 .modalBot .lightModeBtn {
	 display: none;
}
 .modalBot .darkModeBtn {

	 padding: 8x 8px;
}
/**********ABOUT*************/
 #about {
	 display: flex;
	 flex-direction: column;
	 gap: 8px;
	 padding: 5px 9px;
}
 .aboutTop h6 {
	 font-size: 13px;
	 font-weight: 300;
	 line-height: normal;
}
 .aboutMid {
	 background: linear-gradient(90deg, #9845e8 -1.72%, #33d2ff 54.05%, #dd5789 99.78%);
	 background-clip: text;
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
}
 .aboutMid h4 {
	 font-size: 46px;
	 font-weight: 500;
	 line-height: normal;
}
 .aboutBot h5 {
	 font-size: 14px;
	 font-weight: 300;
	 line-height: 24px;
	/* 133.333% */
}
 .stick {
	 margin-top: 50px;
	 width: 100%;
	 height: 2px;
	 background-color: #c6c6c6;
}
/**********************************************/
/**********TABLE EXPERIENCE*****************/
 #experience {
	 display: flex;
	 flex-direction: column;
	 padding: 5px 9px;
	 gap: 30px;
}
 #experience p {
	 font-size: 18px;
	 font-weight: 300;
	 line-height: normal;
	 text-transform: uppercase;
	 color: #1a1a1a;
}
 .expDetails:not(#details1) {
	 display: none;
}
 .experienceInner {
	 display: flex;
	 align-items: center;
	 gap: 20px;
	 justify-content: start;
	 width: 100%;
}
 .title {
	 padding: 5px 9px;
}
 .selected {
	 padding: 5px 9px;
	 background-color: #1f1e1e;
	 color: #fff;
	 border-radius: 4px;
}
 .expTitle {
	 display: flex;
	 flex-direction: column;
	 gap: 12px;
	 width: 25%;
	 white-space: nowrap;
}
 .expTitle h6 {
	 text-align: justify;
	 font-size: 14px;
	 font-style: normal;
	 font-weight: 300;
	 line-height: 24px;
	/* 133.333% */
}
 .expDetails {
	 display: flex;
	 flex-direction: column;
}
 .expDetails .detailsHistory {
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
}
 .expDetails .detailsHistory h3, .expDetails .detailsHistory h2 {
	 color: #1a1a1a;
	 font-size: 16px;
	 font-weight: 300;
	 line-height: normal;
}
 .expDetails h4 {
	 color: #004e93;
	 font-size: 14px;
	 font-weight: 300;
	 line-height: 24px;
	/* 171.429% */
}
 .expDetails h5 {
	 color: #1a1a1a;
	 font-size: 16px;
	 font-weight: 300;
	 line-height: 24px;
	/* 150% */
}
/************************************************************/
/**PROJECTS**/
 #projects {
	 display: flex;
	 flex-direction: column;
	 gap: 35px;
	 padding: 5px 12px;
}
 .projectTitle h4 {
	 color: #1a1a1a;
	 font-size: 15px;
	 font-weight: 300;
	 line-height: normal;
	 text-transform: uppercase;
}
 .projectSections {
	 display: flex;
	 flex-direction: column;
	 gap: 25px;
}
 .projectContent {
	 display: flex;
	 flex-direction: column;
	 gap: 35px;
}
 .contentText {
	 display: flex;
	 flex-direction: column;
	 gap: 12px;
}
 .textTop {
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
}
 .textTop h4 {
	 color: #1a1a1a;
	 font-size: 18px;
	 font-weight: 300;
	 line-height: normal;
}
 .contentLinks {
	 display: flex;
	 gap: 19px;
}
 .textMid {
	 display: flex;
	 flex-direction: column;
	 gap: 12px;
}
 .textMid h5 {
	 color: #1a1a1a;
	 font-size: 16px;
	 font-weight: 300;
	 line-height: 24px;
	/* 150% */
}
 .textMid h6 {
	 color: #004e93;
	 font-size: 14px;
	 font-weight: 300;
	 line-height: 24px;
	/* 171.429% */
}
/**********************************************************************/
/**CONTACT**/
 #contact {
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 gap: 20px;
	 margin-top: 25px;
}
 #contact h4 {
	 color: #1a1a1a;
	 font-size: 18px;
	 font-weight: 300;
	 line-height: normal;
	 text-transform: uppercase;
}
 .contactLinks {
	 display: flex;
	 gap: 12px;
}
 .contactLinks a {
	 display: flex;
	 padding: 12px 25px;
	 border: 1px solid #c6c6c6;
	 gap: 10px;
	 text-decoration: none;
	 color: #1a1a1a;
	 font-size: 16px;
	 font-style: normal;
	 font-weight: 300;
	 line-height: 24px;
	/* 150% */
}
 .linksSection1, .linksSection2 {
	 display: flex;
	 flex-direction: column;
	 gap: 9px;
}
/*******************************************************************/
/**RESPONSIVE**/
 @media (min-width: 401px) {
	/***********************************************************************************/
	/*****************************************************************************************/
	 .hamburger {
		 display: none;
	}
	body.dark-mode .selectLang select {
		color: #fff;
	}
	 body.dark-mode .modalBot .lightModeBtn {
		 content: url(/assets/images/web-lightmodeBtn.svg);
		 background-color: transparent;
		 border: none;
	}
	 body.dark-mode .menuWeb ul li a {
		 color: #fff;
	}
	 body.dark-mode .menuWeb ul li a:hover {
		 border-bottom: 1px solid #fff;
	}
	
	.body.dark-mode .langBtn img {
		content: url(/assets/images/lang-l.svg);
	}
	body.dark-mode .scroll:hover {
		opacity: 1;
	}
	.container {
		 width: auto;
	}
	 .header {
		 width: 100%;
	}
	 .innerHeader {
		 width: 74%;
		 margin: 0 auto;
		 padding: 0;
		 padding-block: 25px;
	}
	.scroll:hover {
		opacity: 1;
	}
	 .logoSection img {
		 width: 17%;
	}
	 .modalBot .darkModeBtn {
		 border: transparent;
		 background-color: transparent;
	}
	.selectLang select  {
		border: 0;
		background: transparent;
		font-family: 'Inter', sans-serif;
		cursor: url(/assets/cursor/Pointer.svg), auto;
		font-size: 16px;
		font-style: normal;
		font-weight: 300;
		line-height: 24px;
	}
	.selectLang select:hover {
		border-bottom: 1px solid black;
	}
	
	 .menuWeb {
		 display: flex;
		 gap: 30px;
		 align-items: center;
	}
	 .menuWeb ul {
		 display: flex;
		 align-items: center;
		 list-style: none;
		 gap: 30px;
	}
	 .menuWeb ul li a {
		 text-decoration: none;
		 color: #1a1a1a;
		 font-size: 18px;
		 font-weight: 300;
		 line-height: normal;
		 cursor: url(/assets/cursor/Pointer.svg), auto;
	}
	 .menuWeb ul li a:hover {
		 border-bottom: 1px solid #1a1a1a;
	}
	 .modalBot, .innerHeader img {
		 cursor: url(/assets/cursor/Pointer.svg), auto;
	}
	 #about {
		 width: 75%;
		 margin: 0 auto;
		 gap: 24px;
	}
	 .aboutTop h6 {
		 font-size: 16px;
	}
	 .aboutMid h4 {
		 font-size: 96px;
		 font-weight: 500;
	}
	 .aboutBot {
		 margin-top: 8px;
	}
	 .aboutBot h6 {
		 font-size: 18px;
		 font-weight: 300;
		 line-height: 24px;
		/* 133.333% */
	}
	 #experience {
		 width: 75%;
		 margin: 0 auto;
		 display: flex;
		 align-items: start;
		 gap: 20px;
	}
	 .expTitle {
		 display: flex;
		 flex-direction: row;
		 align-items: center;
		 justify-content: start;
	}
	 .experienceInner {
		 display: flex;
		 flex-direction: column;
		 align-items: start;
		 gap: 68px;
	}
	 .expTitle {
		 gap: 68px;
	}
	 .expTitle .title {
		 padding: 10px 40px;
	}
	 .title:hover {
		 cursor: url(/assets/cursor/Pointer.svg), auto;
	}
	 .expDetails {
		 display: flex;
		 flex-direction: column;
		 gap: 12px;
	}
	 #projects {
		 width: 75%;
		 margin: 0 auto;
		 gap: 62px;
	}
	 .projectTitle {
		 width: 100%;
	}
	 .projectSections {
		 flex-direction: row;
		 justify-content: space-around;
		 gap: 60px;
	}
	 .projectContent {
		 width: 47%;
		 align-items: start;
		 justify-content: space-around;
	}
	 .projectContent img {
		 width: 100%;
	}
	 .contentText {
		 width: 100%;
	}
	 .contentLinks a {
		 cursor: url(/assets/cursor/Pointer.svg), auto;
	}
	 #contact {
		 flex-direction: row;
		 width: 74%;
		 margin: 0 auto;
		 padding-block: 75px 80px;
		 gap: 120px;
		 align-items: start;
	}
	 .contactLinks {
		 display: flex;
		 flex-direction: row;
		 width: 80%;
		 gap: 12px;
		 justify-content: center;
	}
	 .linksSection1, .linksSection2 {
		 display: flex;
		 flex-direction: row;
		 gap: 12px;
	}
	 .linksSection1 a, .linksSection2 a {
		 width: 190px;
		 margin: 0 auto;
		 cursor: url(/assets/cursor/Pointer.svg), auto;
		 padding: 9px 25px;
	}
	 .scroll {
		 height: 127px;
	}
	.langBtn {
		display: flex;
		align-items: center;
		gap: 5px;
	}
}
 